<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>facebook:<%= @id %></id>
  <title><%= @title %></title>
  <icon>https://www.facebook.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.facebook.com/<%= @id %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["updated_time"]) if @data[0] %></updated>
<%-
@data.each do |post|
  id = post["id"]
  id += ":#{post["live_status"]}" if post.has_key?("live_status")
  /(^|_)(?<object_id>\d+)$/ =~ (post["parent_id"] || post["id"])

  type = if post.has_key?("type")
    post["type"]
  elsif %w[videos photos].include?(@post)
    @type[0..-2]
  else
    @type
  end

  post["link"] = URL.lookup(post["link"]) if post.has_key?("link")
  post["link"] = "https://www.facebook.com/video/embed?video_id=#{object_id}" if @edge == "videos" || (post["type"] == "video" && post["link"].start_with?("https://www.facebook.com/"))
  link = post["link"] || "https://www.facebook.com/#{post["id"]}"
-%>

  <entry>
    <id>facebook:post:<%= id %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%=
if (post.has_key?("live_status") && post["live_status"] != "VOD") || (post.has_key?("story") && post["story"].include?(" is live now"))
  "[LIVE] "
elsif post.has_key?("length")
  "[#{post["length"].round.to_duration}] "
end
%><%=
if @type == "posts" || @type == "videos"
  prefix = if post.has_key?("live_status") || (post.has_key?("story") && post["story"].include?(" live"))
    "Live"
  elsif %w[link video photo event].include?(post["type"])
    post["type"].capitalize
  end
end

suffix = if post["title"]
  post["title"].to_line.esc
elsif post["name"]
  post["name"].to_line.esc
elsif post["message"]
  post["message"].to_line.truncate(120).esc
elsif post["type"] == "link"
  post["link"].esc
elsif post["description"]
  post["description"].to_line.truncate(120).esc
end

if prefix && suffix
  "#{prefix}: #{suffix}"
elsif suffix || prefix
  suffix || prefix
else
  type.capitalize
end
%></title>
    <link href="<%= link.esc %>" />
    <updated><%= Time.parse(post["updated_time"]) %></updated>
    <author><name><%= post["from"]["name"].esc %></name></author>
    <content type="html">
<%= "<p><em>#{post["story"]}</em></p>".esc if post.has_key?("story") %>
<%= post.slice("message", "description", "link").values.linkify_and_embed(request).to_paragraphs.esc %>
<%=
if type == "photo" && post.has_key?("source")
  "<p><img src='#{post["source"]}' referrerpolicy='no-referrer'></p>".esc
elsif type == "photo"
  <<~EOF.esc
    <p><a href="#{post["full_picture"]}" rel="noreferrer"><img src="#{post["picture"]}" referrerpolicy="no-referrer"></a></p>
    <p><a href="#{request.root_url}/facebook/download?url=#{object_id}">Full size</a></p>
  EOF
end
%>
<%= "<p>Link: <a href='#{post["link"]}' rel='noreferrer'>#{post["link"]}</a></p>".esc if post.has_key?("link") %>
<%= "<p>Post: <a href='https://www.facebook.com/#{post["id"]}' rel='noreferrer'>https://www.facebook.com/#{post["id"]}</a></p>".esc %>
    </content>
  </entry>
<%- end -%>
</feed>
