<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>facebook:<%= @id %></id>
  <title><%= @user %> on Facebook</title>
  <icon>https://www.facebook.com/favicon.ico</icon>
  <link href="<%= request.url %>" rel="self" />
  <link href="https://www.facebook.com/<%= @id %>" rel="alternate" />
  <updated><%= @data[0]["updated_time"] if @data[0] %></updated>
<%- @data.each do |post| -%>

  <entry>
    <id>facebook:post:<%= post["id"] %>:<%= Digest::SHA2.hexdigest((post["message"] || "" rescue "")) %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%=
if post["message"]
  post["message"].to_line.truncate(120)
elsif post["type"] == "link"
  "Link: #{post["link"]}"
else
  post["type"]
end
%></title>
    <link href="<%= post["link"] || "https://www.facebook.com/#{post["id"]}" %>" />
    <updated><%= post["updated_time"] %></updated>
    <author><name><%= post["from"]["name"] %></name></author>
    <content type="html">
&lt;pre><%= post["message"] %>&lt;/pre>
<%=
if post["type"] == "video"
  "&lt;iframe src='https://www.facebook.com/video/embed?video_id=#{post["object_id"]}' width='1280' height='720' frameborder='0' scrolling='no' allowfullscreen>&lt;/iframe>"
elsif post["type"] == "photo"
  "&lt;img src='#{post["picture"]}'>"
end
%>
    </content>
  </entry>
<%- end -%>
</feed>
