<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>facebook:<%= @id %></id>
  <title><%= @title %></title>
  <icon>https://www.facebook.com/favicon.ico</icon>
  <link href="<%= request.original_url %>" rel="self" />
  <link href="https://www.facebook.com/<%= @id %>" rel="alternate" />
  <updated><%= @data[0]["updated_time"] if @data[0] %></updated>
<%- @data.each do |post| -%>

  <entry>
    <id>facebook:post:<%= post["id"] %>:<%= Digest::SHA2.hexdigest((post["message"] || "" rescue "")) %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%=
if post["message"]
  post["message"].to_line.truncate(120).esc
elsif post["type"] == "link"
  "Link: #{post["link"].esc}"
elsif post["type"] == "event"
  "Event: #{post["name"].esc}"
elsif post["description"]
  post["description"].to_line.truncate(120).esc
elsif post["name"]
  post["name"].to_line.esc
elsif post["type"]
  post["type"].camelize
elsif @type
  @type[0..-2].camelize
end
%></title>
    <link href="<%= post["link"] || "https://www.facebook.com/#{post["id"]}" %>" />
    <updated><%= post["updated_time"] %></updated>
    <author><name><%= post["from"]["name"] %></name></author>
    <content type="html">
&lt;pre><%= post["message"] || post["description"] %>&lt;/pre>
<%=
if /(?:youtu\.be\/(?<video_id>[^\?&#]+)|youtube\.com\/)(?:.*?[\?&#](v=(?<video_id>[^&#]+)|list=(?<list>[^&#]+)|t=(?<t>[^&#]+)))+/ =~ post["link"]
  # https://www.youtube.com/watch?v=z5OGD5_9cA0&list=PL0QrZvg7QIgpoLdNFnEePRrU-YJfr9Be7&index=3&t=30s
  embed_url = "https://www.youtube.com/embed/#{video_id}?rel=0"
  embed_url += "&list=#{list}" if list
  if t and /(?:(?<h>\d+)h|(?<m>\d+)m|(?<s>\d+)s)+/ =~ t
    # https://youtu.be/wZZ7oFKsKzY?t=3h44m34s => start=13474
    start = 60*60*h.to_i + 60*m.to_i + s.to_i
    embed_url += "&start=#{start}"
  end
  "<iframe width='640' height='360' src='#{embed_url}' frameborder='0' scrolling='no' allowfullscreen></iframe>".esc
end
%>
<%= post["embed_html"].esc if post["embed_html"] %>
<%=
if @type == "photos" and post["source"]
  "<img src='#{post["source"]}'>".esc
elsif @type == "videos" and post["id"]
  "<p><a href='#{request.root_url}/facebook/download?url=#{post["id"]}'>Download video</a></p>".esc
elsif post["type"] == "video" and post["object_id"]
  "<iframe src='https://www.facebook.com/video/embed?video_id=#{post["object_id"]}' width='1280' height='720' frameborder='0' scrolling='no' allowfullscreen></iframe>\n".esc +
  "<p><a href='#{request.root_url}/facebook/download?url=#{post["object_id"]}'>Download video</a></p>".esc
elsif post["type"] == "photo"
  "<img src='#{post["picture"]}'>".esc
end
%>
<%= "<p>Link: <a href='#{post["link"]}'>#{post["link"]}</a></p>".esc if post["link"] %>
<%= "<p>Post: <a href='https://www.facebook.com/#{post["id"]}'>https://www.facebook.com/#{post["id"]}</a></p>".esc %>
    </content>
  </entry>
<%- end -%>
</feed>
