<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>googleplus:<%= @id %></id>
  <title><%= @user %> on Google+</title>
  <icon>https://ssl.gstatic.com/images/branding/product/ico/google_plus_alldp.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://plus.google.com/<%= @id %>" rel="alternate" />
  <updated><%= Time.parse(@data["updated"]) if @data["updated"] %></updated>
<%- @data["items"].each do |post| -%>

  <entry>
    <id>googleplus:post:<%= post["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= post["title"].to_line.esc %></title>
    <link href="<%= post["url"].esc %>" />
    <updated><%= Time.parse(post["updated"]) %></updated>
    <author><name><%= post["actor"]["displayName"].esc %></name></author>
    <content type="html">
<%= CGI.unescapeHTML(post["object"]["content"]).gsub("<br />", "\n").strip_tags.linkify.to_paragraphs.esc %>
<%- if post["object"]["attachments"] -%>
<%- post["object"]["attachments"].select { |attachment| attachment["objectType"] == "video" }.each do |attachment| -%>
<%= "<a href='#{attachment["url"]}' rel='noreferrer'><img src='#{attachment["image"]["url"]}' referrerpolicy='no-referrer'></a>".esc %>
<%- end -%>
<%- post["object"]["attachments"].select { |attachment| attachment["objectType"] == "photo" }.each do |attachment| -%>
<%= "<a href='#{attachment["fullImage"]["url"]}' title='#{attachment["fullImage"]["width"]}x#{attachment["fullImage"]["height"]}' rel='noreferrer'><img src='#{attachment["image"]["url"]}' referrerpolicy='no-referrer'></a>".esc %>
<%- end -%>
&lt;p>Attachments:&lt;/p>
&lt;ul>
<%- post["object"]["attachments"].each do |attachment| -%>
<%= "  <li>#{attachment["objectType"].capitalize}: <a href='#{attachment["url"]}' rel='noreferrer'>#{attachment["url"]}</a></li>".esc %>
<%- end -%>
&lt;/ul>
<%- end -%>
    </content>
  </entry>
<%- end -%>
</feed>
