<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>imgur:<%= @user_id || "r:#{@subreddit}" %></id>
  <title><%= @username || "r/#{@subreddit}" %> on Imgur</title>
  <icon>https://s.imgur.com/images/favicon-96x96.png</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://imgur.com/<%= @username ? "user/#{@username}" : "r/#{@subreddit}" %>" rel="alternate" />
  <updated><%= Time.at(@data[0]["datetime"].to_i) if @data[0] %></updated>
<%-
@data.each do |image|
  if image["is_album"]
    id = "imgur:album:#{image["id"]}"
    title = "Album: #{image["title"]} (#{image["images_count"]} images)"
    link = "https://imgur.com/a/#{image["id"]}"
    img_src = "https://i.imgur.com/#{image["cover"]}h.jpg"
    body = <<-EOF.undent.esc
      <a href="#{link}"><img src="#{img_src}"></a>

      #{image["description"].to_paragraphs}
      <p><a href="http://s.imgur.com/a/#{image["id"]}/zip">Download album</a></p>
    EOF
  else
    id = "imgur:image:#{image["id"]}"
    title = "#{image["title"]} [#{image["width"]}x#{image["height"]}]"
    link = "https://imgur.com/#{image["id"]}"
    ext = image["type"].split("/")[1]
    img_src = "https://i.imgur.com/#{image["id"]}h.#{ext}"
    body = <<-EOF.undent.esc
      <a href="#{link}.#{ext}"><img src="#{img_src}"></a>

      #{image["description"].to_paragraphs}
      <p><a href="https://imgur.com/download/#{image["id"]}/#{CGI.escape(image["title"])}">Download</a></p>
      <p>Size: #{image["size"].to_filesize} (#{image["width"]}x#{image["height"]})</p>
    EOF
  end
-%>

  <entry>
    <id><%= id %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= title.to_line.esc %></title>
    <link href="<%= link.esc %>" />
    <link href="<%= img_src.esc %>" rel="enclosure" />
    <updated><%= Time.at(image["datetime"].to_i) %></updated>
    <author><name><%= @username.esc %></name></author>
    <content type="html">
<%= body -%>
    </content>
  </entry>
<%- end -%>
</feed>
