<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>instagram:<%= @user_id %></id>
  <title><%= @title %></title>
  <icon>https://instagramstatic-a.akamaihd.net/bluebar/97ef9c7/images/ico/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.instagram.com/<%= @user %>" rel="alternate" />
  <updated><%= Time.at(@data["media"]["nodes"][0]["date"]) if @data["media"]["nodes"][0] %></updated>
<%- if @data["is_private"] -%>

  <entry>
    <id>instagram:user:<%= @user %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title>This user is private.</title>
    <link href="https://www.instagram.com/<%= @user %>/" />
    <updated></updated>
    <author><name><%= @data["full_name"] %></name></author>
    <content type="html">This user is private.</content>
  </entry>
<%- else -%>
<%- @data["media"]["nodes"].each do |post| -%>

  <entry>
    <id>instagram:post:<%= post["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= "Video: " if post["is_video"] %><%= post["caption"].to_line.esc rescue "No title" %></title>
    <link href="https://www.instagram.com/p/<%= post["code"] %>/" />
    <updated><%= Time.at(post["date"]) %></updated>
    <author><name><%= @data["full_name"].esc %></name></author>
    <content type="html">
<%=
if post["is_video"]
  <<-EOF.undent.esc
    <iframe src="https://www.instagram.com/p/#{post["code"]}/embed/" width="612" height="710" frameborder="0" scrolling="no" allowfullscreen></iframe>
    #{post["caption"].linkify.to_paragraphs}
    <p><a href="#{request.root_url}/instagram/download?url=#{post["code"]}">Download video</a></p>
  EOF
else
  <<-EOF.undent.esc
    <img src="#{post["display_src"]}">
    #{post["caption"].linkify.to_paragraphs}
  EOF
end
-%>
    </content>
  </entry>
<%- end -%>
<%- end -%>
</feed>
