<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>instagram:<%= @user_id %></id>
  <title><%= @user_id %> on Instagram</title>
  <icon>https://instagramstatic-a.akamaihd.net/bluebar/97ef9c7/images/ico/favicon.ico</icon>
  <link href="<%= request.url %>" rel="self" />

  <entry>
    <id>instagram:error:<%= @user_id %>:<%= @meta["error_type"] %></id>
    <title><%= @meta["error_message"] %></title>
    <updated><%= Time.now %></updated>
    <content><%= @meta["error_type"] %>: <%= @meta["error_message"] %>

<%= request.path %>

The user probably deleted their account or made it private.</content>
  </entry>
</feed>
