<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>instagram:<%= @user_id %></id>
  <title><%= @user %> on Instagram</title>
  <icon>https://instagramstatic-a.akamaihd.net/bluebar/97ef9c7/images/ico/favicon.ico</icon>
  <link href="<%= request.url %>" rel="self" />
  <link href="https://instagram.com/<%= @user %>" rel="alternate" />
  <updated><%= Time.at(@data[0]["created_time"].to_i) if @data[0] %></updated>
<%- @data.each do |post| -%>

  <entry>
    <id>instagram:post:<%= post["id"] %>:<%= Digest::SHA2.hexdigest((post["caption"]["text"] rescue "")) %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= "Video: " if post["type"] == "video" %><%= post["caption"]["text"] rescue "No title" %></title>
    <link href="<%= post["link"] %>" />
    <updated><%= Time.at(post["created_time"].to_i) %></updated>
    <author><name><%= post["user"]["full_name"] %></name></author>
    <content type="html">
<% if post["videos"] %>
&lt;iframe src="<%= post["link"] %>embed/" width="612" height="710" frameborder="0" scrolling="no" allowfullscreen>&lt;/iframe>
<% else %>
&lt;img src="<%= post["images"]["standard_resolution"]["url"] %>">

&lt;p>Filter: <%= post["filter"] %>&lt;/p>
<% end %>
    </content>
  </entry>
<%- end -%>
</feed>
