<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>instagram:<%= @user_id %></id>
  <title><%= @title.esc %></title>
  <icon>https://www.instagram.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.instagram.com/<%= @user %>" rel="alternate" />
  <updated><%= @updated_at %></updated>
<%- @data.each do |post| -%>

  <entry>
    <id>instagram:post:<%= post["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= "[#{post["media_count"]}] " if post["media_count"] > 1 %><%= post["text"]&.to_line&.esc || "No caption" %></title>
    <link href="https://www.instagram.com/p/<%= post["code"] %>/" />
    <updated><%= Time.at(post["taken_at"]) %></updated>
    <author><name><%= post["username"].esc %></name></author>
    <content type="html">
<%=
  <<~EOF.esc
    <iframe width="612" height="940" src="https://www.instagram.com/p/#{post["code"]}/embed/" allowfullscreen referrerpolicy="no-referrer" style="border: 0;"></iframe>
  EOF
%>
<%= post["text"]&.linkify&.to_paragraphs&.esc %>
    </content>
  </entry>
<%- end -%>
</feed>
