<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>instagram:<%= @user_id %></id>
  <title><%= @title.esc %></title>
  <icon>https://www.instagram.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.instagram.com/<%= @user %>" rel="alternate" />
  <updated><%= Time.at(@data["edge_owner_to_timeline_media"]["edges"][0]["node"]["taken_at_timestamp"]) if @data["edge_owner_to_timeline_media"]["edges"][0] %></updated>
<%-
@data["edge_owner_to_timeline_media"]["edges"].each do |post|
  has_video = post["nodes"].any? { |n| n["is_video"] }
  text = post["node"]["edge_media_to_caption"]["edges"][0]["node"]["text"] if post["node"]["edge_media_to_caption"]["edges"][0]
-%>

  <entry>
    <id>instagram:post:<%= post["node"]["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= "[#{post["nodes"].length}] " if post["nodes"].length > 1 %><%= "Video: " if has_video %><%= text.to_line.esc || "No title" %></title>
    <link href="https://www.instagram.com/p/<%= post["node"]["shortcode"] %>/" />
    <updated><%= Time.at(post["node"]["taken_at_timestamp"]) %></updated>
    <author><name><%= post["node"]["owner"]["username"].esc %></name></author>
    <content type="html">
<%=
if has_video
  <<~EOF.esc
    <p>#{post["nodes"].select { |n| n["is_video"] }.length} videos.</p>
    <iframe width="612" height="710" src="https://www.instagram.com/p/#{post["node"]["shortcode"]}/embed/" frameborder="0" scrolling="no" allowfullscreen referrerpolicy="no-referrer"></iframe>
  EOF
end
%>
<%=
post["nodes"].select { |n| !n["is_video"] }.map do |n|
  <<~EOF.esc
    <img src="#{n["display_url"]}" referrerpolicy="no-referrer">
  EOF
end.join("\n")
%>
<%= text.linkify.to_paragraphs.esc %>
<%=
<<~EOF.esc
  <p><a href="#{request.root_url}/#{Addressable::URI.new(query: "download=https://www.instagram.com/p/#{post["node"]["shortcode"]}/").normalize.to_s}">Download with nice filename</a></p>
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
