<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>mixcloud:<%= @username %></id>
  <title><%= @user %> on Mixcloud</title>
  <icon>https://www.mixcloud.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.mixcloud.com/<%= @username %>/" rel="alternate" />
  <updated><%= @updated_at %></updated>
<%- @data.each do |track| -%>

  <entry>
    <id>mixcloud:track:<%= track["slug"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title>[<%= track["audio_length"].to_duration if track.has_key?("audio_length") %>] <%= track["name"].to_line.esc %></title>
    <link href="<%= track["url"].esc %>" />
    <updated><%= Time.parse(track["created_time"]) %></updated>
    <author><name><%= track["user"]["username"].esc %></name></author>
    <content type="html">
<%= <<~EOF.esc
  <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?feed=#{track["url"]}&hide_cover=1&light=1" frameborder="0" allowfullscreen referrerpolicy="no-referrer"></iframe>

  <a href="#{track["pictures"]["extra_large"]}" rel="noreferrer"><img src="#{track["pictures"]["medium"]}" referrerpolicy="no-referrer"></a>

  #{track["name"].to_paragraphs}
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
