<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>soundcloud:<%= @id %></id>
  <title><%= @user %> on SoundCloud</title>
  <icon>https://soundcloud.com/favicon.ico</icon>
  <link href="<%= request.original_url %>" rel="self" />
  <link href="https://soundcloud.com/<%= @user %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["created_at"]) if @data[0] %></updated>
<%- @data.each do |track| -%>

  <entry>
    <id>soundcloud:track:<%= track["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= track["title"].esc %></title>
    <link href="<%= track["permalink_url"] %>" />
    <updated><%= Time.parse(track["created_at"]) %></updated>
    <author><name><%= track["user"]["username"] %></name></author>
    <content type="html">
&lt;iframe width="100%" height="185" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= track["id"] %>">&lt;/iframe>

<%= "<img src='#{track["artwork_url"]}'>".esc if track["artwork_url"] %>

&lt;pre><%= track["description"] %>&lt;/pre>

&lt;a href="<%= request.root_url %>/soundcloud/download?url=<%= track["permalink_url"] %>">Download track&lt;/a>
    </content>
  </entry>
<%- end -%>
</feed>
