<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>soundcloud:<%= @id %></id>
  <title><%= @user %> on SoundCloud</title>
  <icon>https://soundcloud.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://soundcloud.com/<%= @username %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["created_at"]) if @data[0] %></updated>
<%- @data.each do |track| -%>

  <entry>
    <id>soundcloud:track:<%= track["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title>[<%= (track["duration"] / 1000).to_duration %>] <%= track["title"].to_line.esc %></title>
    <link href="<%= track["permalink_url"].esc %>" />
    <updated><%= Time.parse(track["created_at"]) %></updated>
    <author><name><%= track["user"]["username"].esc %></name></author>
    <content type="html">
&lt;iframe width="100%" height="185" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= track["id"] %>">&lt;/iframe>

<%= "<p><img src='#{track["artwork_url"]}'></p>".esc if track["artwork_url"] %>

<%= track["description"].linkify.to_paragraphs.esc %>

&lt;p>&lt;a href="<%= request.root_url %>/soundcloud/download?url=<%= CGI.escape(track["permalink_url"]) %>">Download track&lt;/a>&lt;/p>
&lt;p>&lt;a href="<%= request.root_url %>/?download=<%= CGI.escape(track["permalink_url"]) %>">Download track with nice filename&lt;/a>&lt;/p>
    </content>
  </entry>
<%- end -%>
</feed>
