<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>speedrun:runs:<%= @id %></id>
  <title><%= Speedrun.resolve_id("game", @id) %> on Speedrun.com</title>
  <icon>https://www.speedrun.com/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://www.speedrun.com/<%= @abbr %>" rel="alternate" />
  <updated><%= @data[0]["submitted"] || Time.parse(@data[0]["date"]) if @data[0] %></updated>
<%-
@data.each do |run|
  players = run["players"]["data"].map { |player| player["name"] || player["names"]["international"] }
  videos = if run["videos"]["links"]
    "Videos: " + run["videos"]["links"].map { |link| link["uri"] }.join(" | ")
  elsif run["videos"]["text"]
    "Videos: " + run["videos"]["text"]
  else
    "No video"
  end

  if !run["level"]["data"].empty?
    category_link = "https://www.speedrun.com/#{@abbr}/#{run["level"]["data"]["weblink"].split("/")[-1]}"
    category = "#{run["category"]["data"]["name"]}: #{run["level"]["data"]["name"]}"
  else
    category_link = "https://www.speedrun.com/#{@abbr}##{run["category"]["data"]["weblink"].partition("#")[2]}"
    category = run["category"]["data"]["name"]
  end

  if !run["level"]["data"].empty?
    level_subcategories = Speedrun.resolve_id("level-subcategories", run["level"]["data"]["id"])
    category += level_subcategories.select { |id, values| run["values"][id] }.map { |id, values| " - " + values[run["values"][id]] }.join
  end
-%>

  <entry>
    <id>speedrun:run:<%= run["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title>[<%= run["times"]["primary_t"].round.to_duration %>] <%= players.join(", ").esc %> - <%= category %><%= " [emu]" if run["system"]["emulated"] %></title>
    <link href="<%= "https://www.speedrun.com/run/#{run["id"]}" %>" />
    <updated><%= run["submitted"] || Time.parse(run["date"]) %></updated>
    <author><name><%= players.join(", ").esc %></name></author>
    <content type="html">
<%= <<~EOF.esc
  #{videos.linkify_and_embed(request).to_paragraphs}

  #{run["comment"].linkify.to_paragraphs}

  <p>Category: <a href="#{category_link}" rel="noreferrer">#{category}</a></p>
  <p>Runners: #{players.map { |name| "<a href='https://www.speedrun.com/user/#{name}' rel='noreferrer'>#{name}</a>" }.join(", ")}</p>
  <p>Platform: #{run["platform"]["data"]["name"]}#{" (#{run["region"]["data"]["name"]})" if run["system"]["region"]}</p>
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
