<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>twitter:<%= @user_id %></id>
  <title><%= @username %> on Twitter</title>
  <icon>https://abs.twimg.com/favicons/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://twitter.com/<%= @username %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["created_at"]) if @data[0] %></updated>
<%-
@data.each do |tweet|
  if tweet["retweeted_status"]
    text = "RT #{tweet["retweeted_status"]["user"]["screen_name"]}: #{tweet["retweeted_status"]["full_text"]}"
    t = tweet["retweeted_status"]
  else
    text = tweet["full_text"]
    t = tweet
  end
  for entity in t["entities"]["urls"]
    text.gsub!(entity["url"], entity["expanded_url"])
  end
  if t["extended_entities"]
    for entity in t["extended_entities"]["media"]
      next if !entity["video_info"]
      video = entity["video_info"]["variants"].sort do |a,b|
        if a["content_type"].start_with?("video/") and b["content_type"].start_with?("video/")
          b["bitrate"] - a["bitrate"]
        else
          b["content_type"].start_with?("video/") <=> a["content_type"].start_with?("video/")
        end
      end.first
      text += " #{video["url"]}?w=#{entity["sizes"]["large"]["w"]}&h=#{entity["sizes"]["large"]["h"]}"
    end
  end
  if t["entities"]["media"]
    for media in t["entities"]["media"]
      text += " #{media["media_url_https"]}:large"
    end
  end
  body = text.linkify_and_embed(request)
  title = text.gsub(String::URL_REGEXP) do |url|
    dest = url.resolve_url
    "[#{dest.short_host}]"
  end
-%>

  <entry>
    <id>twitter:tweet:<%= tweet["id_str"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= title.to_line.esc %></title>
    <link href="https://twitter.com/<%= @username %>/status/<%= tweet["id_str"] %>" />
    <updated><%= Time.parse(tweet["created_at"]) %></updated>
    <author><name><%= @username.esc %></name></author>
    <content type="html">
<%= body.to_paragraphs.esc %>
    </content>
  </entry>
<%- end -%>
</feed>
