<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>twitch:<%= @type %>:<%= @id %></id>
  <title><%= @title.esc %></title>
  <icon>https://www.twitch.tv/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="<%= @alternate_url %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["created_at"]) if @data[0] %></updated>
<%- @data.each do |video| -%>

  <entry>
    <id>twitch:video:<%= video["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= "* " if video["type"] == "highlight" %>[<%= video["duration"].parse_duration.to_duration if video.has_key?("duration") %>] <%= video["title"].to_line.esc %></title>
    <link href="https://www.twitch.tv/videos/<%= video["id"] %>" />
    <updated><%= Time.parse(video["created_at"]) %></updated>
    <author><name><%= video["user_name"].esc %></name></author>
    <content type="html">
<%= <<~EOF.esc
  <iframe width="620" height="378" src="#{request.root_url}/twitch-embed.html#video=#{video["id"]}" frameborder="0" scrolling="no" allowfullscreen referrerpolicy="no-referrer"></iframe>

  <p>
    <a href="https://player.twitch.tv/?parent=twitch.tv&video=#{video["id"]}" rel="noreferrer">Open embed</a> |
    <a href="#{request.root_url}/twitch/watch?url=#{video["id"]}&open">Open in VLC</a> |
    <a href="#{request.root_url}/twitch/watch?url=#{video["id"]}">Open in external program</a> |
    <a href="#{request.root_url}/twitch/download?url=#{video["id"]}">Download video</a>
  </p>

  #{video["description"].linkify.to_paragraphs}
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
