<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>twitter:<%= @user_id %></id>
  <title><%= @username %> on Twitter</title>
  <icon>https://abs.twimg.com/favicons/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://twitter.com/<%= @username %>" rel="alternate" />
  <updated><%= Time.parse(@data[0]["created_at"]) if @data[0] %></updated>
<%-
@data.each do |tweet|
  if tweet.has_key?("retweeted_status")
    text = "RT #{tweet["retweeted_status"]["user"]["screen_name"]}: #{CGI.unescapeHTML(tweet["retweeted_status"]["full_text"])}"
    t = tweet["retweeted_status"]
  else
    text = CGI.unescapeHTML(tweet["full_text"])
    t = tweet
  end
  if t.has_key?("extended_entities")
    t["extended_entities"]["media"].each do |entity|
      next if !entity["video_info"]
      video = entity["video_info"]["variants"].sort do |a,b|
        if a["content_type"].start_with?("video/") && b["content_type"].start_with?("video/")
          b["bitrate"] - a["bitrate"]
        else
          b["content_type"].start_with?("video/") <=> a["content_type"].start_with?("video/")
        end
      end[0]
      if /\/\d+x\d+\// =~ video["url"]
        # there is dimension information in the URL (i.e. /ext_tw_video/)
        text += " #{video["url"]}"
      else
        # no dimension information in the URL, so add some (i.e. /tweet_video/)
        text += " #{video["url"]}#w=#{entity["sizes"]["large"]["w"]}&h=#{entity["sizes"]["large"]["h"]}"
      end
    end
  end
    if t.has_key?("extended_entities")
    t["extended_entities"]["media"].each do |entity|
      if entity["video_info"]
        video = entity["video_info"]["variants"].sort do |a,b|
          if a["content_type"].start_with?("video/") && b["content_type"].start_with?("video/")
            b["bitrate"] - a["bitrate"]
          else
            b["content_type"].start_with?("video/") <=> a["content_type"].start_with?("video/")
          end
        end[0]
        if /\/\d+x\d+\// =~ video["url"]
          # there is dimension information in the URL (i.e. /ext_tw_video/)
          text += " #{video["url"]}"
        else
          # no dimension information in the URL, so add some (i.e. /tweet_video/)
          text += " #{video["url"]}#w=#{entity["sizes"]["large"]["w"]}&h=#{entity["sizes"]["large"]["h"]}"
        end
      else
        text += " #{entity["media_url_https"]}"
      end
    end
  end
  body = text.linkify_and_embed(request)
  if body.include?("snappytv.com")
    body += "\n<iframe width='560' height='314' src='https://twitter.com/i/videos/tweet/#{tweet["id_str"]}' frameborder='0' scrolling='no' allowfullscreen referrerpolicy='no-referrer'></iframe>"
  end
  if body.include?("https://www.pscp.tv/w/")
    body += "\n<iframe width='420' height='480' src='https://twitter.com/i/cards/tfw/v1/#{tweet["id_str"]}' frameborder='0' scrolling='no' allowfullscreen referrerpolicy='no-referrer'></iframe>"
  end
-%>

  <entry>
    <id>twitter:tweet:<%= tweet["id_str"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= text.titelize.esc %></title>
    <link href="https://twitter.com/<%= @username %>/status/<%= tweet["id_str"] %>" />
    <updated><%= Time.parse(tweet["created_at"]) %></updated>
    <author><name><%= @username.esc %></name></author>
    <content type="html">
<%= body.to_paragraphs.esc %>
    </content>
  </entry>
<%- end -%>
</feed>
