<%- content_type :atom -%>
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>twitter:<%= @user_id %></id>
  <title><%= @username.esc %> on Twitter</title>
  <icon>https://abs.twimg.com/favicons/favicon.ico</icon>
  <link href="<%= request.original_url.esc %>" rel="self" />
  <link href="https://twitter.com/<%= @username %>" rel="alternate" />
  <updated><%= @updated_at %></updated>
<%- @data["tweets"].each do |tweet| -%>

  <entry>
    <id>twitter:tweet:<%= tweet["id"] %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= tweet["text"].titelize.esc %></title>
    <link href="https://twitter.com/<%= @username %>/status/<%= tweet["id"] %>" />
    <updated><%= Time.parse(tweet["created_at"]) %></updated>
    <author><name><%= @username.esc %></name></author>
    <content type="html">
<%= tweet["text"].linkify_and_embed(request).to_paragraphs.esc %>
    </content>
  </entry>
<%- end -%>
</feed>
