<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>youtube:<%= @channel_id %></id>
  <title><%= @username %> on YouTube</title>
  <icon>https://s.ytimg.com/yts/img/favicon_48-vfl1s0rGh.png</icon>
  <link href="<%= request.original_url %>" rel="self" />
  <link href="https://www.youtube.com/channel/<%= @channel_id %>" rel="alternate" />
  <updated><%= @data[0]["snippet"]["publishedAt"] if @data[0] %></updated>
<%-
@data.each do |video|
  id_extra = content_extra = nil
  title = video["snippet"]["title"].to_line
  updated = video["snippet"]["publishedAt"]
  if video["liveStreamingDetails"]
    if video["liveStreamingDetails"]["actualStartTime"]
      updated = Time.parse(video["liveStreamingDetails"]["actualStartTime"])
      id_extra = ":started:#{updated}"
      title += " (started)"
      content_extra = "<p>Live broadcast started at: #{updated.readable(@tz)}.</p>"
    elsif video["liveStreamingDetails"]["scheduledStartTime"]
      updated = Time.parse(video["liveStreamingDetails"]["scheduledStartTime"])
      id_extra = ":scheduled:#{updated}"
      title += " (scheduled for #{updated.readable(@tz)})"
      content_extra = "<p>Live broadcast scheduled to start at: #{updated.readable(@tz)}.</p>"
    end
  end
-%>

  <entry>
    <id>youtube:video:<%= video["id"]["videoId"] %><%= id_extra %><%= ":#{params[:cachebuster]}" if params[:cachebuster] %></id>
    <title><%= title.esc %></title>
    <link href="https://www.youtube.com/watch?v=<%= video["id"]["videoId"] %>" />
    <updated><%= updated %></updated>
    <author><name><%= @username %></name></author>
    <content type="html">
<%= <<-EOF.esc
<iframe width="640" height="360" src="https://www.youtube.com/embed/#{video["id"]["videoId"]}?rel=0" frameborder="0" scrolling="no" allowfullscreen></iframe>
#{content_extra}
#{video["snippet"]["description"].to_paragraphs}
EOF
-%>
    </content>
  </entry>
<%- end -%>
</feed>
